<section>
    <header>
        <img src="/fotoperfil.jpg" alt="SaraCernadas">
        <h1>@saaaraandonga</h1>
        <p>Web designer</p>
    </header>
</section>

<body class="absolute inset-0 -z-10 h-full w-full bg-gray-200  bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem] min-h-screen flex flex-col items-center justify-center"></body>
    <h2>About me</h2>
    <div class="personal information about me">
        <p>Hi! I'm Sara, a 25 years old web designer with a specialization in UI and UX. I studied Fine Arts in Pontevedra. Art, fashion, and sports are not just interests for me; they are sources of inspiration that fuel my design endeavors. With a keen eye for aesthetics and a dedication to creating seamless user experiences, I bring a unique blend of artistic flair and technical expertise to the world of web design. Let's turn ideas into visually stunning and user-friendly digital experiences!</p>
    </div>
</body>


<style>

    img{
        width: 150px;
        aspect-ratio: 1 / 1;
        object-fit:cover;
        border-radius: 50%;
        margin-top: 20px;

    }

    p{
        font-family: lato;
        color: #635c56;

    }
    h1{
        font-family: lato;
        color:#49433c;
    }

    h2{
        font-family: lato;
        color:#49433c;
    }
</style>