<section>
    <h2>Connect with me</h2>

    <footer> 
    <ul>
        <li><a href="https://www.linkedin.com/in/sara-cernadas-noya-23041b256/" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/Saaaraandonga" target="_blank">Github</a></li>
        <li><a href=https://www.instagram.com/saaaraandonga/?hl=es" target="_blank">Instagram</a></li>
    </ul>
</footer>
</section>

<style>

    h2{
        position: relative;
        margin: 100px 0 25px 0;
        font-size: 2.3em;
        text-align: center;
        letter-spacing: 7px;
        color: #49433c;
    }
  

    footer {
        font-family: lato;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% - 40px);
        border-top: 1px solid #80776;
        text-align: center;
        padding: 20px;
    }

    footer > ul {
        font-family: roboto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        gap: 30px;
        padding: 0;
    }

    footer > ul > li > a {
        color: #49433c;
        transition: all .3s;
    }

    footer > ul > li > a:hover {
        color: rgb(241, 92, 197);
    }

    @media screen and (max-width: 700px) {
        footer {
            justify-content: center;
        }
    }

</style>
