---
// Astro
const { tituloPagina ='Saaaraandonga portfolio' } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		
		<title>{tituloPagina}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	
    body {
        margin:auto;
        max-width:512 px;
		    font-family: 'Lato', sans-serif;
   
        background-color: #faf9fb;
        color: #000;
        max-width: 512px;
        margin: 0 auto;
        min-height: 100dvh;
        padding: 0 20px;
      }

      h1,
      h2 {
        color: #211f26;
      }

      p {
        color: #65636d;
        font-size: 16px;
      }

      h2 {
        font-size: 18px;
      }


      header > h1 {
        margin-top: 24px;
        display: block;
        font-size: 24px;
        font-weight: 600;
      }

      header > p {
        margin-top: 8px;
        font-weight: 400;
      }

      .sub-title {
        margin-top: 8px;
      }

      a {
        text-decoration: none;
      }
	
</style>